<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>
			{% block title %}MyDreamHouse
			{% endblock %}
		</title>
		{% block stylesheets %}
			<link href="{{ asset('bootstrap/css/bootstrap.css') }}" type="text/css" rel="stylesheet"/>
			<link href="{{ asset('css/main.css') }}" type="text/css" rel="stylesheet"/>
		{% endblock %}
	</head>
	<body>
		{% block navbar %}
			{{ include('navbar.html.twig') }}
		{% endblock %}

		{% block body %}{% endblock %}

		{% block javascripts %}
			<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
			<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
			<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
		{% endblock %}
		{% block foot %}
			<footer class="card-footer text-light text-center bg-dark">
				Contribuyentes: Santiago Velasco, Alba Moreno, Clara Alcázar
			</footer>
		{% endblock %}
	</body>
</html>
