{% extends 'base.html.twig' %}

{% block title %}Ciudad index{% endblock %}

{% block body %}
    <h1>Ciudad index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre_ciudad</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ciudad in ciudads %}
            <tr>
                <td>{{ ciudad.id }}</td>
                <td>{{ ciudad.nombreCiudad }}</td>
                <td>
                    <a href="{{ path('ciudad_show', {'id': ciudad.id}) }}">show</a>
                    <a href="{{ path('ciudad_edit', {'id': ciudad.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('ciudad_new') }}">Create new</a>
{% endblock %}
