{% extends 'base.html.twig' %}

{% block title %}Ciudad{% endblock %}

{% block body %}
    <h1>Ciudad</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ciudad.id }}</td>
            </tr>
            <tr>
                <th>Nombre_ciudad</th>
                <td>{{ ciudad.nombreCiudad }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('ciudad_index') }}">back to list</a>

    <a href="{{ path('ciudad_edit', {'id': ciudad.id}) }}">edit</a>

    {{ include('ciudad/_delete_form.html.twig') }}
{% endblock %}
