{% extends 'base.html.twig' %}

{% block title %}Casa index{% endblock %}

{% block body %}
    <h1>Casa index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Direccion</th>
                <th>Cp</th>
                <th>Tipo_venta</th>
                <th>M2</th>
                <th>Precio</th>
                <th>Tipo_casa</th>
                <th>Propietario</th>
                <th>Telefono</th>
                <th>Email_casa</th>
                <th>Fecha_constr</th>
                <th>Imagen_casa</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for casa in casas %}
            <tr>
                <td>{{ casa.id }}</td>
                <td>{{ casa.direccion }}</td>
                <td>{{ casa.cp }}</td>
                <td>{{ casa.tipoVenta }}</td>
                <td>{{ casa.m2 }}</td>
                <td>{{ casa.precio }}</td>
                <td>{{ casa.tipoCasa }}</td>
                <td>{{ casa.propietario }}</td>
                <td>{{ casa.telefono }}</td>
                <td>{{ casa.emailCasa }}</td>
                <td>{{ casa.fechaConstr }}</td>
                <td>{{ casa.imagenCasa }}</td>
                <td>
                    <a href="{{ path('casa_show', {'id': casa.id}) }}">show</a>
                    <a href="{{ path('casa_edit', {'id': casa.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('casa_new') }}">Create new</a>
{% endblock %}
