{% extends 'base.html.twig' %}

{% block title %}Casa{% endblock %}

{% block body %}
    <h1>Casa</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ casa.id }}</td>
            </tr>
            <tr>
                <th>Direccion</th>
                <td>{{ casa.direccion }}</td>
            </tr>
            <tr>
                <th>Cp</th>
                <td>{{ casa.cp }}</td>
            </tr>
            <tr>
                <th>Tipo_venta</th>
                <td>{{ casa.tipoVenta }}</td>
            </tr>
            <tr>
                <th>M2</th>
                <td>{{ casa.m2 }}</td>
            </tr>
            <tr>
                <th>Precio</th>
                <td>{{ casa.precio }}</td>
            </tr>
            <tr>
                <th>Tipo_casa</th>
                <td>{{ casa.tipoCasa }}</td>
            </tr>
            <tr>
                <th>Propietario</th>
                <td>{{ casa.propietario }}</td>
            </tr>
            <tr>
                <th>Telefono</th>
                <td>{{ casa.telefono }}</td>
            </tr>
            <tr>
                <th>Email_casa</th>
                <td>{{ casa.emailCasa }}</td>
            </tr>
            <tr>
                <th>Fecha_constr</th>
                <td>{{ casa.fechaConstr }}</td>
            </tr>
            <tr>
                <th>Imagen_casa</th>
                <td>{{ casa.imagenCasa }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('casa_index') }}">back to list</a>

    <a href="{{ path('casa_edit', {'id': casa.id}) }}">edit</a>

    {{ include('casa/_delete_form.html.twig') }}
{% endblock %}
